@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <div>
        <hr>
        <p>
            <small>
                This page is a hobby project of a young swimmer's parent. <br />
                No affiliation to <a href="https://www.usaswimming.org">USA Swimming</a>.<br />
                Data source: <a href="https://www.usaswimming.org/docs/default-source/timesdocuments/time-standards/2020motivationaltimes-top16.pdf">2020motivationtimes-top16.pdf</a>
            </small>
        </p>
    </div>
</div>


